.container__link {
  font-family: $font-title;
  padding: 19px 76px 17px 76px;
  background-color: #ffffff;
  display: inline-block;
  font-size: 23px;
  color: $c-brand;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in;
  @media screen and (max-width: 550px) {
    display: block;
    width: 100%;
    text-align: center;
  }
  &:hover {
    background-color: #dde5cd;
  }
  &--absolute {
    z-index: 40;
    bottom: 10%;
    position: absolute;
    display: none;
  }
  &--brown {
    background-color: $c-brand;
    color: #fff;
    transition: background-color 0.2s ease-in;
    &:hover {
      background-color: rgba($c-brand, 0.7);
    }
  }
}
