.block {
  width: 32%;
  padding-bottom: 7%;
  border-left: 1px solid #fff;
  padding-right: 14px;
  @media screen and (max-width:500px){
    padding-right:0px;
  }
 

  &--brown-border {
    padding: 0 10px 120px 10px;
    border-color: #707070;
    @media screen and (max-width:500px){
      padding: 0 10px 60px 10px;
    }
  }
}
.blocks {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.box {
  padding-top: 3%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  margin: auto;
}

