.gallery {
  width: 100%;
  margin: auto;
  &__headline {
    text-transform: uppercase;
    display: block;
    width: 100%;
    background-color: $c-brand;
    font-family: $font-title;
    font-size: 70px;
    line-height: 1;
    font-weight: 500;
    color: $c-white;
    text-align: center;
    padding: 31px 10px 42px;
    @media screen and (max-width: 950px) {
      font-size: 40px;
    }
  }
}

.content {
  margin: 0 auto;
  width: 100%;

  &-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: flex 0.8s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:focus-within {
    flex: 3.4;
  }

  &__small-text {
    text-transform: uppercase;
    font-family: $font-title;
    font-size: 26px;
    margin-top: auto;
    transition: flex 0.8s ease;
  }

  &__headline {
    font-family: $font-title;
    font-size: 70px;
    text-transform: uppercase;
  }

  &__light-text {
    font-family: $font-text;
    font-size: 70px;
    text-align: center;
  }
  &__link {
    background-color: #fff;
    display: inline-block;
    padding: 19px 75px 17px 72px;
    font-family: $font-title;
    font-size: 20px;
    text-transform: uppercase;
    color: $c-brand;
    margin-top: auto;
    margin-bottom: 69px;
    
  }
  &__toggle:focus + &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index:10;
  }

  &__toggle:focus ~ &__link {
    z-index:10;
  }

  &__text {
    margin-top: auto;

  }

  &__toggle {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    font-family: $font-title;
    font-size: 70px;
    text-transform: uppercase;

    &:focus {
      background-color: transparent;
      color: transparent;
    }

    &-1 {
      
      background: linear-gradient(#ffe5ef 40%, #f2c3ae 60%);
      &:focus {
        z-index:1;
        background: linear-gradient(rgba(#ffe5ef,0.6) 40%,rgba(#f2c3ae,0.6) 60%);
      }
    }
    
    &-2 {
      background: linear-gradient(#c7bfd9 40%, #bcd7f5 60%);
      &:focus {
        z-index:1;
        background: linear-gradient(rgba(#c7bfd9,0.6) 40%,rgba(#bcd7f5,0.6) 60%);
      }
    }
    &-3 {
      background: linear-gradient(#c4d98b 40%, #f1f7df 60%);
      &:focus {
        z-index:1;
        background: linear-gradient(rgba(#c4d98b,0.6) 40%,rgba(#f1f7df,0.6) 60%);
      }
    }
    &-4 {
      background: linear-gradient(#e5c77a 40%, #f2e991 60%);
      &:focus {
        z-index:1;
        background: linear-gradient(rgba(#e5c77a,0.6) 40%,rgba(#f2e991,0.6) 60%);
      }
    }

  }

  &-1 {
    background-image:  url("../img/pi.png");
  }

  &-2 {
    background-image:  url("../img/bl.png");
  }

  &-3 {
    background-image: url("../img/gr.png");
  }

  &-4 {
    background-image: url("../img/or.png");
  }
}
