.start {
    width: 100%;
    background-color: $c-white;
    &-container {
      padding: 198px 20px 0;
      margin: auto;
    }
  
    &__list {
        margin-top: 106px;
      display: flex;
      justify-content: center;
      &-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 25%;
        padding: 0 2% 2%;
        border-left: 1px solid #707070;
        &:first-child {
          border-left: none;
        }
        &__picture {
          width: 120px;
        }
        &__text {
          text-align: center;
          font-family: $font-text;
          font-size: 26px;
        }
        &__headline {
          display: block;
          font-family: $font-title;
          font-size: 26px;
        }
      }
    }
  }
  