.container {
  padding-top: 20%;
  width: 100%;
  display: flex;
  @media screen and (max-width: 950px) {
    flex-direction: column;
  }

  &--pink {
    background: $c-accent;
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      height: 20%;
      top: 99%;
      left: 0;
      background: linear-gradient(180deg, $c-accent 0%, rgba(255, 255, 255, 0));
      background-color: rgba(255, 255, 255, 0);
      z-index: 10;
      width: 100%;
    }
  }
  &--purple {
    background: #b5afd8;
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      height: 20%;
      top: 99%;
      left: 0;
      background: linear-gradient(180deg, #b5afd8 0%, rgba(255, 255, 255, 0));
      z-index: 10;
      width: 100%;
    }
  }

  &--green {
    background: #b1d87b;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      height: 20%;
      top: 99%;
      left: 0;
      background: linear-gradient(180deg, #b1d87b 0%, rgba(255, 255, 255, 0));
      z-index: 10;
      width: 100%;
    }
  }

  &--yellow {
    background: #ffb05d;
  }

  @media screen and (max-width: 1240px) and (min-width: 950px) {
    padding-top: 10%;
  }

  &:last-child {
    padding-top: 0;
  }

  &:nth-child(2) {
    padding-top: 0;
  }

  &--reverse {
    @media screen and (max-width: 950px) {
      flex-direction: column-reverse;
    }
  }

  &__headline {
    &--capitalize {
      text-transform: capitalize;
    }
    font-family: $font-title;
    font-size: 70px;
    line-height: 1;
    font-weight: 500;
    color: $c-brand;
    margin-bottom: 32px;
    @media screen and (max-width: 950px) {
      font-size: 40px;
    }
    &--light {
      font-family: $font-text;
      font-weight: lighter;
      text-transform: capitalize;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10%;
    @media screen and (max-width: 1500px) and (min-width: 1240px) {
      padding: 7%;
    }
    @media screen and (max-width: 1240px) and (min-width: 950px) {
      padding: 3%;
    }

    @media screen and (max-width: 950px) and (min-width: 650px) {
      padding: 5%;
    }

    @media screen and (max-width: 650px) {
      padding: 20px;
    }
  }

  &__paragraph {
    font-family: $font-text;
    font-size: 26px;
    line-height: 1.23;
    margin-bottom: 35px;
    @media screen and (max-width: 950px) {
      font-size: 20px;
    }
  }

  &__link {
    font-family: $font-title;
    padding: 19px 76px 17px 76px;
    background-color: #ffffff;
    display: inline-block;
    font-size: 23px;
    color: $c-brand;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in;
    @media screen and (max-width: 550px) {
      display: block;
      width: 100%;
      text-align: center;
    }
    &:hover {
      background-color: #dde5cd;
    }
    &--brown {
      background-color: $c-brand;
      color: #fff;
      transition: opacity 0.2s ease-in;
      &:hover {
        background-color: $c-brand;
        opacity: 0.7;
      }
    }
  }

  &__picture {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    @media screen and (max-width: 950px) {
      width: 100%;
    }
    &--flex-start {
      justify-content: flex-start;
    }
    &--left {
      @media screen and (max-width: 950px) {
        justify-content: flex-start;
      }
    }

    &--center {
      @media screen and (max-width: 950px) {
        display: flex;
        justify-content: center;
      }
    }

    &__img {
      @media screen and (max-width: 950px) {
        width: 90%;
      }
      &--yellow {
        width: 100%;
      }
    }
  }
  &__text {
    width: 50%;
    @media screen and (max-width: 950px) {
      width: 100%;
    }
  }
}
