@import "var";
@import "reset";



.header {
  background-color: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 28px 50px 29px 50px;
  box-shadow: 0 10px 10px rgba(#372e2c, 0.2);
  position: fixed;
  width: 100%;

  &-logotype {
    margin-right: auto;
    color: $dark;
    font-size: 30px;
    letter-spacing: 10px;
  }

  &-tools {
    margin-left: auto;
    display: flex;
    &__link {
      &__svg {
        width: 22px;
        height: 22px;
        margin-left: 28px;
      }
    }
  }

  &-list {
    display: flex;
    &__item {
      margin-left: 17px;
      &:first-child {
        margin-left: 0px;
      }
      &__link {
        color: $dark;
        font-size: 20px;
        font-family: $bold;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          background-color: $dark;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          top: 100%;
          right: 50%;
          transform: translateX(-50%);
          opacity: 0;
        }
      }

      &:hover .header-list__item__link:before {
        opacity: 1;
      }
    }
  }
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient($pink 20%, #b5afd8 30%, #b1d87b 50%,#ffb05d 70%);
  display: flex;

}

.introduction {
  padding-top:10%;
  background-color: $pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  &__headline {
    width: 50%;
    text-align: center;
    font-family: $bold;
    font-size: 70px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 30px;
    color: $dark;
  }
  &__paragraph {
    font-family: $light;
    font-size: 26px;
    line-height: 1.23;
    text-align: center;
    width: 50%;
  }
}

.conteiner {
  margin-top: 20%;

  &:last-child {
     margin-top: 0;
  }

    &:nth-child(2) {
   margin-top: 0; 
  }

  &--white {
    background: #fff;
  }
    max-width: 1920px;
    display: flex;


  &__headline {
    &--capitalize {
      text-transform: capitalize;
    }
    font-family: $bold;
    font-size: 70px;
    line-height: 1;
    font-weight: 500;
    color: $dark;
    text-transform: uppercase;
    margin-bottom: 32px;
    &--light {
      font-family: $light;
      font-weight: lighter;
      text-transform: capitalize;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10%;
  }

  &__paragraph {
    font-family: $light;
    font-size: 26px;
    line-height: 1.23;
    margin-bottom: 35px;
  }

  &__link {
    font-family: $bold;
    padding: 19px 76px 17px 76px;
    background-color: #ffffff;
    display: inline-block;
    font-size: 23px;
    color: $dark;
    text-transform: uppercase;

    &--brown {
      background-color: $dark;
      color: #fff;
    }
  }

  &__picture {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  &__text {
    width: 50%;
  }
}


.footer {
  background-color: $dark;
  &__conteiner {
    padding: 40px 42px 40px 50px;
    display: flex;
  }
  &__label {
    font-family: $bold;
    font-size: 20px;
    line-height: 1.16;
    color: #fff;
    margin-bottom: 24px;
  }

  &__list {
    padding-right: 44px;
  }

  &__item {
    &__link {
      font-family: $bold;
      font-size: 20px;
      line-height: 1.16;
      color: #fff;
    }

    &__form {


      display: flex;
      align-items: center;
      position: relative; 
      border-bottom: 0.5px solid #fff;
      background-color: $dark;
     
      &__input {
        background: none;
        border: none; 
        &[type="email"] {
          color:#fff;
          font-family: $bold;
          font-size: 20px;
        }
      }



      &__button {
        border: none;
        background: none;
        font-family: $bold;
        font-size: 20px;
        color: #fff;
        position: absolute;
        right: 0;
      }

      ::-webkit-input-placeholder {
        font-family: $light;
        color: #fff;
        opacity: 0.5;
        font-size: 20px;
      }
      ::-moz-placeholder {
        font-family: $light;
        color: #fff;
        opacity: 0.5;
        font-size: 20px;

      } /* Firefox 19+ */
      :-moz-placeholder {
        font-family: $light;
        color: #fff;
        opacity: 0.5;
        font-size: 20px;
  
      } /* Firefox 18- */
      :-ms-input-placeholder {
        font-family: $light;
        color: #fff;
        opacity: 0.5;
        font-size: 20px;

      }
    }
  }
}
